
body {
	background: url(background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	padding: 0;
	margin: 0;
	height: 100%;
	transition: 0.2s;
	font-family: Monospace;
}

#menu{
	padding-top: 0;
	margin-top: 0;
	background-color: #1F2F3F;
	text-align: center;
	opacity: 0.5;
	transition: 0.6s;
	height: 5%;
}

#menu p{
	margin: 0;
	padding: 0;
	padding-top: 0.8%;
	font-size: 100%;
	color: #CFCFDF;
	cursor: default;
	animation: animate 3s linear infinite;
}

#menu:hover {
	opacity: 1.0;
}
#menu h3{
	position: center;
	color: #8A6B5C;
	padding-top: 1%;
	opacity: 1.0;
	font-family: Monospace;
	font-size: 200%;
	animation: noise 1s infinite;
	--text-shadow: -0.0em 0 5px #32F296;
}

#body{
	background-color: rgba(16,16,0,.6);
	margin: 0;
	padding: 0;
	margin-top: 3.3%;
	height: 100%;
	color: #92A12C;
}

#formCustom {
	width: 100%;
	margin-top: 2%;
	padding-left: 5%;
	text-align: left;
	display: block;
	//background-color: rgba(16,16,0,.2);
}

#updateField{
	display:none;
}

#formDefault {
	width: 100%;
	margin-top: 5%;
	padding-left: 5%;
	text-align: left;
	display: none;
	//background-color: rgba(16,16,0,.2);
}

#tableSelector{
	margin-left: 2%;
	margin-top: 2%;
}

#body h4{
	font-size: 200%;
	padding-left: 2%;
	padding-top: 2%;
}
input[type=text] {
    padding:0.5%; 
	margin-top: 0.5%;
	margin-bottom: 0.8%;
    border: 3px solid #ccc; 
    height: 4%;
    font-size: 100%;
    -webkit-border-radius: 4%;
    border-radius: 4%;
}
input[type=submit] {
    padding:1.2% 3.3%; 
    background:#ccc;
    width: 15%; 
    font-size: 250%;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 1%;
    border-radius: 1%;
	transition: 0.3s;
	position: absolute;
	bottom: 1%;
	right: 1%;
}


input[type=submit]:hover{
	color: #AABB34;
	background-color: #BB3434;
}
#formSelect{
	margin-left: 4%;
}
#formSelect a {
	background-color: #356412;
	padding: 0.5% 0.5%;
	font-size: 180%;
	margin-left: 2%;
	font-weight: bold;
	border-radius: 10%;
	cursor: default;
	transition: 0.4s;
}

#formSelect a:hover{
	background-color: #455732;
}

#backButton{
    background:#ccc;
    font-size: 250%;
    text-decoration: none;
    cursor:pointer;
    margin: 0;
    padding: 0;
    -webkit-border-radius: 1%;
    border-radius: 1%;
	transition: 0.1s;
	position: absolute;
	bottom: 1%;
	right: 1%;
}

#customButton{
	margin-left: 400%;
}



#bookField{
	display: none;
}

#studentField{
	display: block;
}

#authorField{
	display: none;
}

#bookFieldUpdate{
	display: none;
}

#studentFieldUpdate{
	display: none;
}

#authorFieldUpdate{
	display: none;
}

#operationType{
	//background-color: rgba(16,16,0,.2);
	border-radius: 5px;
	width: 60%;
	margin: 0% 0%;
	
}

#tableSelect{
	//background-color: rgba(16,16,0,.2);
	border-radius: 5px;
	width: 60%;
	margin: 0% 0%;
}

.inlineBlock{
	display: inline-block;
	margin-right: 2.5%;
	transition: 0.2s;
	border-radius: 3%;
	padding: 1%;
	margin-top: 0.5%;
}

.inlineBlock:hover{
	background-color: rgba(23,23,23,.6);
}

input[type=radio] {
	margin-bottom: 0%;
	margin-left: 3%;
	width: 2%;
	height: 2%;
}

form {
	font-size: 150%;
}

#buttonSubmit{
	font-size: 150%;
	font-family: Monospace;
}

#updateField{
	color: #B2811F;
}

#phpResults{
	font-size: 150%;
	width: 60%;
	height: 50%;
	padding: 1%;
	border-radius: 5%;
	background-color: rgba(23,23,23,.6);
	margin-left: 5%;
	transition: 0.2s;
}
#phpResults:hover{
	background-color: rgba(23,23,23,.8);
}

input[type="radio"]:checked+label { 
	transition: 0.3s;
	border-radius: 5%;
	font-weight: bold; 
	color: #B67660;
	background-color: rgba(45,90,45,.7);
}

input[type="radio"]:hover+label { 
	transition: 0.3s;
	border-radius: 5%;
	font-weight: bold; 
	background-color: rgba(45,90,45,.2);
}

input[type="radio"]{
	display: none;
}


input[type="radio"]+label{
	padding-left: 3%;
	font-size: 110%;
	padding-right: 3%;
	color: #A79988;
}

