
body {
	background: url(background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	padding: 0;
	margin: 0;
	
	font-family: Monospace;
}

#menu{
	padding-top: 0;
	margin-top: 0;
	background-color: #1F2F3F;
	text-align: center;
	opacity: 0.5;
	transition: 2s;
	height: 10%;
}

#menu:hover {
	opacity: 1.0;
}
#menu h3{
	position: center;
	color: #8A6B5C;
	padding-top: 2%;
	opacity: 1.0;
	font-family: Monospace;
	font-size: 200%;
	animation: noise 1s infinite;
	--text-shadow: -0.0em 0 5px #32F296;
}

#body{
	background-color: rgba(16,16,0,.5);
	margin: 0;
	padding: 0;
	margin-top: 3.3%;
	height: 100%;
	color: #A2B12C;
}

#formCustom {
	width: 100%;
	margin-top: 2%;
	padding-left: 5%;
	text-align: left;
	display: none;
	//background-color: rgba(16,16,0,.2);
}

#formDefault {
	width: 100%;
	margin-top: 5%;
	padding-left: 5%;
	text-align: left;
	display: none;
	//background-color: rgba(16,16,0,.2);
}

#tableSelector{
	margin-left: 2%;
	margin-top: 2%;
}

#body h4{
	font-size: 200%;
	padding-left: 2%;
}
input[type=text] {
    padding:0.5%; 
	margin-top: 0.5%;
	margin-bottom: 0.8%;
    border: 5px solid #ccc; 
    height: 5%;
    font-size: 100%;
    -webkit-border-radius: 4%;
    border-radius: 4%;
}
input[type=submit] {
    padding:1.2% 3.3%; 
    background:#ccc;
    width: 15%; 
    font-size: 250%;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 1%;
    border-radius: 1%;
	transition: 0.3s;
	position: absolute;
	bottom: 1%;
	right: 1%;
}

input[type=submit]:hover{
	color: #AABB34;
	background-color: #BB3434;
}

#body a {
	background-color: #356412;
	padding: 1% 0.5%;
	font-size: 150%;
	border-radius: 10%;
	margin-left: 2%;
	cursor: crosshair;
	transition: 0.4s;
}

#customButton{
	margin-left: 400%;
}

#body a:hover{
	background-color: #455732;
}


#bookField{
	display: none;
}

#studentField{
	display: none;
}

#authorField{
	display: none;
}

#bookFieldUpdate{
	display: none;
}

#studentFieldUpdate{
	display: none;
}

#authorFieldUpdate{
	display: none;
}

#operationType{
	//background-color: rgba(16,16,0,.2);
	border-radius: 5px;
	width: 40%;
	margin: 2% 0%;
	
}

#tableSelect{
	//background-color: rgba(16,16,0,.2);
	border-radius: 5px;
	width: 40%;
	margin: 2% 0%;
}

.inlineBlock{
	display: none;
	//background-color: rgba(16,16,0,.2);
}

#formDefault input[type=radio] {
	margin-bottom: 2%;
}

form {
	font-size: 150%;
}

#buttonSubmit{
	font-size: 150%;
	font-family: Monospace;
}
